<div class="container-slide">
    <div class="swiper swiper-big">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="" class="banner"
                   style="background:url(/img/891561561981.jpg)center no-repeat;background-size: cover;">
                </a>
<!--                <div class="mobile-v-info">-->
<!--                    <div class="v-title">-->
<!--                        <span></span>-->
<!--                    </div>-->
<!--                    <div class="v-ins">-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>
<!--    <div class="sm-swiper">-->
<!--        <div class="swiper swiper-small">-->
<!--            <div class="swiper-wrapper">-->
<!--                <div class="swiper-slide">-->
<!--                    <div class="pic">-->
<!--                        <a href="">-->
<!--                            <img src="/img/662d1fb42c17e.jpeg" alt="">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="title"></div>-->
<!--                    <div class="ins">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="swiper-button-prev">-->
<!--            <svg rseat="712211_banner_left" width="20" height="20"-->
<!--                 xmlns="http://www.w3.org/2000/svg" class="qy20-h-carousel__arrow left" data-v-1ea95016="">-->
<!--                <path-->
<!--                        d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0zm2.439 4.95a1.429 1.429 0 00-2.02 0L5.367 10l5.05 5.05.125.112c.56.444 1.378.407 1.896-.111l.11-.125a1.429 1.429 0 00-.11-1.896L9.409 10l3.03-3.03.11-.125a1.429 1.429 0 00-.11-1.896z"-->
<!--                        fill="#FFF" fill-rule="evenodd" data-v-1ea95016=""></path>-->
<!--            </svg>-->
<!--        </div>-->
<!--        <div class="swiper-button-next">-->
<!--            <svg rseat="712211_banner_right" width="20" height="20"-->
<!--                 xmlns="http://www.w3.org/2000/svg" class="qy20-h-carousel__arrow right" data-v-1ea95016="">-->
<!--                <path-->
<!--                        d="M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0zM7.561 4.95a1.429 1.429 0 012.02 0L14.633 10l-5.05 5.05-.125.112a1.429 1.429 0 01-1.896-.111l-.11-.125a1.429 1.429 0 01.11-1.896l3.03-3.03-3.03-3.03-.11-.125a1.429 1.429 0 01.11-1.896z"-->
<!--                        fill="#FFF" fill-rule="evenodd" data-v-1ea95016=""></path>-->
<!--            </svg>-->
<!--        </div>-->
<!--        <div class="swiper-pagination"></div>-->
<!--    </div>-->
</div>