<div class="container-slide">
    <div class="swiper swiper-big">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="" class="banner"
                   style="background:url(http://puui.qpic.cn/tv/0/1250123197_1920800/0?imageView2/2/w/1800&max_age=7776001)center no-repeat;background-size: cover;">
                </a>
                <div class="mobile-v-info">
                    <div class="v-title">
                        <span>玉骨遥</span>
                    </div>
                    <div class="v-ins">
                        <p>1080P</p>
                        <p>
                            孤高清冷的空桑世子时影和热情仗义的赤族郡主朱颜，因一花之恩结下命劫夙缘，却阴错阳差相遇后相伴三年。归邪升起，空桑将亡，时影误以为陪伴朱颜长大的鲛人止渊就是海皇，所以亲手封印了止渊。最终朱颜将玉骨刺向了时影，一语成谶。可命运，早在被窥视的那天就改变了。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sm-swiper">
        <div class="swiper swiper-small">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="pic">
                        <a href="">
                            <img src="https://img.liangzipic.com/upload/vod/20230702-1/97a95f644aa5148316301cddbdb770e0.jpg" alt="玉骨遥">
                        </a>
                    </div>
                    <div class="title"><a href="">玉骨遥</a></div>
                    <div class="ins">
                        <p>
                            孤高清冷的空桑世子时影和热情仗义的赤族郡主朱颜，因一花之恩结下命劫夙缘，却阴错阳差相遇后相伴三年。归邪升起，空桑将亡，时影误以为陪伴朱颜长大的鲛人止渊就是海皇，所以亲手封印了止渊。最终朱颜将玉骨刺向了时影，一语成谶。可命运，早在被窥视的那天就改变了。
                        </p>
                        <p class="ins">1080P</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-prev">
            <svg rseat="712211_banner_left" width="20" height="20"
                 xmlns="http://www.w3.org/2000/svg" class="qy20-h-carousel__arrow left" data-v-1ea95016="">
                <path
                        d="M10 0c5.523 0 10 4.477 10 10s-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0zm2.439 4.95a1.429 1.429 0 00-2.02 0L5.367 10l5.05 5.05.125.112c.56.444 1.378.407 1.896-.111l.11-.125a1.429 1.429 0 00-.11-1.896L9.409 10l3.03-3.03.11-.125a1.429 1.429 0 00-.11-1.896z"
                        fill="#FFF" fill-rule="evenodd" data-v-1ea95016=""></path>
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg rseat="712211_banner_right" width="20" height="20"
                 xmlns="http://www.w3.org/2000/svg" class="qy20-h-carousel__arrow right" data-v-1ea95016="">
                <path
                        d="M10 0C4.477 0 0 4.477 0 10s4.477 10 10 10 10-4.477 10-10S15.523 0 10 0zM7.561 4.95a1.429 1.429 0 012.02 0L14.633 10l-5.05 5.05-.125.112a1.429 1.429 0 01-1.896-.111l-.11-.125a1.429 1.429 0 01.11-1.896l3.03-3.03-3.03-3.03-.11-.125a1.429 1.429 0 01.11-1.896z"
                        fill="#FFF" fill-rule="evenodd" data-v-1ea95016=""></path>
            </svg>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>