<div class="fixedGroup">
    <div class="fixedGroup-item">
        <div class="fixedGroup__cell">
            <span class="fixedGroup__triangle"></span>
            <div class="txt" id="changeAppearance">切换深色外观</div>
        </div>
        <i class="icon-yejian" data-id="black"></i>
        <i class="icon-rijian" data-id="white"></i>
    </div>
    <div class="fixedGroup-item retop">
        <div class="fixedGroup__cell">
            <span class="fixedGroup__triangle"></span>
            <div>回到顶部</div>
        </div>
        <i class="icon-top"></i>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div class="footer-content">
            <div class="foot-logo">
                <img class="logo1" th:src="@{/favicon.ico}">
            </div>
            <div class="foot-copyright">
                <p>免费短视频分享大全 - 本站所有内容均来自互联网分享站点所提供的公开引用资源，未提供资源上传、存储服务，如视频产生侵权，请联系
                    vtsoft_cn@qq.com 本站将第一时间对其进行删除</p>
            </div>
        </div>
    </div>
</div>
