<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{public/include}"></div>
    <title th:text="${videoDetail.getVodName()}">xxx</title>
</head>
<body>
<div class="page view">
    <div th:replace="~{public/head}"></div>
    <div class="main">
        <div class="content">
            <div th:replace="~{vod/desc}"></div>
            <script type="text/javascript">$(".tab-item:first,.module-list:first").addClass("active");</script>
        </div>
    </div>
</div>
</body>
</html>