<div class="module-player-side">
    <div class="module-player-info">
        <div class="module-info-heading">
            <h1 th:text="${videoDetail.getVodName()}"></h1>
            <div class="module-info-tag">
                <div class="module-info-tag-link">
                    <span th:text="${videoDetail.getVodYear()}"></span>
                </div>
                <div class="module-info-tag-link">
                    <span th:text="${videoDetail.getVodArea()}"></span>
                </div>
                <div class="module-info-tag-link">
                    <span th:text="${videoDetail.getVodClass()}"></span>
                </div>
                <div class="module-info-tag-link">
                    <span th:text="${videoDetail.getVodLang()}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="module-list">
        <div class="module-play-list">
            <a th:each="episodeTxt,item:${videoDetail.getEpisodes()}"
               th:class="${'module-play-list-link '+(episode==item.index?'active':'')}"
               th:href='${"/video/play?videoId="+videoDetail.getId()+"&episode="+item.index}'
               title="点击播放">
                <span th:text="${episodeTxt}">第一集</span>
            </a>
        </div>
    </div>
</div>