<a href="" title="{$vo.vod_name}" class="module-poster-item module-item ">
    <div class="module-item-cover">
        <div class="module-item-top">{$key}
        </div>
        <div class="module-item-note">已完结
        </div>
        <div class="module-item-pic"><img class="lazy lazyload" data-original="{$vo.vod_pic|mac_url_img}"
                                          alt="{$vo.vod_name}"
                                          referrerpolicy="no-referrer" src="{:mac_url_img($mxprost.mxprocms.s1.pic)}">
        </div>
    </div>
    <div class="module-poster-item-info">
        <div class="module-poster-item-title">{$vo.vod_name}</div>
    </div>
</a>